@rendermode @(new InteractiveServerRenderMode(false))
@page "/"

<PageTitle>Home</PageTitle>

<h1>Api Genesis Demonstration!</h1>

<AuthorizeView>
    <Authorized>
        <GenerateStudents />
    </Authorized>
    <NotAuthorized>
        <br />
        Remember to run "Update-Database" in the console first to create the database.
        <br />
        Then create a fake account to test with for example "bob@bob.com"
        <br />
        <br />
    </NotAuthorized>
</AuthorizeView>